.conteudo{
    font-family: "Roboto Light", sans-serif;
}

.conteudo_titulo{
    font-weight: bolder;
    text-align: center;
}

.conteudo_texto{
    text-indent: 2rem;
    padding: 1rem 3rem;
    font-size: 1.2rem;
}